 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(201, 162, 77, 0.1), rgba(201, 162, 77, 0.1));
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 240px;
}

.u-section-1 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-section-1 .u-repeater-1 {
  min-height: 200px;
  grid-template-columns: repeat(1, 100%);
  grid-auto-columns: 100%;
  --gap: 32px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 0px 0px 20px 0px rgba(128,128,128,0.4);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  --radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-1 .u-container-layout-1 {
  padding: 17px 20px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-line-1 {
  width: 666px;
  transform-origin: left center;
  margin: 14px 178px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 22px 16px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-line-1 {
    margin-right: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-1 {
    width: 520px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 320px;
  }
}

.u-section-1 .u-list-item-1,
.u-section-1 .u-list-item-1:before,
.u-section-1 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-c01a-11:not([data-block-selected]):not([data-cell-selected]),
.u-block-c01a-11:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-c01a-11:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-c01a-14:not([data-block-selected]):not([data-cell-selected]),
.u-block-c01a-14:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-c01a-14:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-c01a-17:not([data-block-selected]):not([data-cell-selected]),
.u-block-c01a-17:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-c01a-17:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(11, 31, 51, 0.85), rgba(11, 31, 51, 0.85));
  background-size: cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 440px;
}

.u-section-2 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-2 .u-repeater-1 {
  min-height: 340px;
  grid-template-columns: repeat(1, 100%);
  grid-auto-columns: 100%;
  --gap: 32px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 0px 0px 20px 0px rgba(128,128,128,0.4);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  --radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-2 .u-container-layout-1 {
  padding: 17px 20px;
}

.u-section-2 .u-line-1 {
  position: absolute;
  top: 161px;
  height: 141px;
  transform-origin: center top;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 14px auto 0 76px;
}

.u-section-2 .u-line-2 {
  width: 962px;
  transform-origin: left center;
  margin: 11px 63px 0 auto;
}

.u-section-2 .u-text-2 {
  width: 854px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 21px 571px 0 76px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 600;
  margin: -24px 62px 0 585px;
}

.u-section-2 .u-text-5 {
  line-height: 1.2;
  font-weight: 500;
  font-size: 1.125rem;
  margin: 4px 62px 0 585px;
}

.u-section-2 .u-text-6 {
  line-height: 1.2;
  font-weight: 500;
  font-size: 1.125rem;
  margin: -19px 572px 0 75px;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 39px 62px 0 585px;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 600;
  margin: -24px 571px 0 76px;
}

.u-section-2 .u-text-9 {
  line-height: 1.2;
  font-weight: 500;
  font-size: 1.125rem;
  margin: 6px 63px 0 584px;
}

.u-section-2 .u-text-10 {
  line-height: 1.2;
  font-weight: 500;
  font-size: 1.125rem;
  margin: -21px 572px 0 75px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-line-1 {
    top: 162px;
    left: auto;
    right: 455px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 12px;
    margin-left: 10px;
  }

  .u-section-2 .u-line-2 {
    width: 900px;
    margin-top: 13px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 447px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -22px;
    margin-right: 0;
    margin-left: 476px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 0;
    margin-left: 476px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -22px;
    margin-right: 447px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 21px;
    margin-right: 219px;
    margin-left: 476px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-right: 447px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-right: 227px;
    margin-left: 476px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: -22px;
    margin-right: 447px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-line-1 {
    top: 160px;
    height: 153px;
    right: 357px;
  }

  .u-section-2 .u-line-2 {
    width: 680px;
    margin-top: 10px;
  }

  .u-section-2 .u-text-2 {
    width: 680px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 396px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -48px;
    margin-right: 90px;
    margin-left: 370px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 6px;
    margin-right: 90px;
    margin-left: 370px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -19px;
    margin-right: 409px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 24px;
    margin-right: 162px;
    margin-left: 370px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 497px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 113px;
    margin-left: 370px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -21px;
    margin-right: 364px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-line-1 {
    top: 142px;
    right: 256px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 11px;
    margin-left: 9px;
  }

  .u-section-2 .u-line-2 {
    width: 520px;
    margin-top: 11px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.3333333333333333rem;
    width: 520px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.1111111111111112rem;
    margin-right: 236px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.1111111111111112rem;
    margin-right: 10px;
    margin-left: 290px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
    margin-right: 33px;
    margin-left: 290px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
    margin-right: 249px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.1111111111111112rem;
    margin-right: 82px;
    margin-left: 290px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.1111111111111112rem;
    margin-right: 337px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1rem;
    margin-right: 33px;
    margin-left: 290px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1rem;
    margin-right: 204px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-line-2 {
    width: 320px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    line-height: 1.2;
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 28px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 42px;
    margin-right: 6px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    width: 183px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: -102px;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 99px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 42px;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: -59px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-top: 43px;
    margin-right: 0;
  }
}

.u-section-2 .u-list-item-1,
.u-section-2 .u-list-item-1:before,
.u-section-2 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-2 .u-text-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-2 .u-text-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-bd82-13:not([data-block-selected]):not([data-cell-selected]),
.u-block-bd82-13:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-bd82-13:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-bd82-17:not([data-block-selected]):not([data-cell-selected]),
.u-block-bd82-17:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-bd82-17:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-bd82-10:not([data-block-selected]):not([data-cell-selected]),
.u-block-bd82-10:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-bd82-10:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-bd82-15:not([data-block-selected]):not([data-cell-selected]),
.u-block-bd82-15:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-bd82-15:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-bd82-20:not([data-block-selected]):not([data-cell-selected]),
.u-block-bd82-20:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-bd82-20:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}.u-section-3 .u-sheet-1 {
  min-height: 922px;
}

.u-section-3 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  min-height: 854px;
  grid-template-columns: repeat(1, 100%);
  grid-auto-columns: 100%;
  --gap: 32px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 0px 0px 20px 0px rgba(128,128,128,0.4);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  --radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-3 .u-container-layout-1 {
  padding: 14px 20px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 28px auto 0 69px;
}

.u-section-3 .u-line-1 {
  width: 962px;
  transform-origin: right center;
  margin: 11px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  font-weight: 500;
  margin: 700px auto -125px;
}

.u-section-3 .u-form-1 {
  height: 668px;
  width: 963px;
  margin: -734px auto 60px;
}

.u-section-3 .u-label-1 {
  font-weight: 600;
  font-size: 1.125rem;
}

.u-section-3 .u-input-1 {
  --radius: 5px;
}

.u-section-3 .u-label-2 {
  font-weight: 600;
  font-size: 1.125rem;
}

.u-section-3 .u-input-2 {
  --radius: 5px;
}

.u-section-3 .u-form-group-3 {
  margin-left: 0;
}

.u-section-3 .u-label-3 {
  font-weight: 600;
  font-size: 1.125rem;
}

.u-section-3 .u-input-3 {
  --radius: 5px;
}

.u-section-3 .u-form-group-4 {
  margin-left: 0;
}

.u-section-3 .u-label-4 {
  font-weight: 600;
  font-size: 1.125rem;
}

.u-section-3 .u-input-4 {
  --radius: 5px;
}

.u-section-3 .u-form-group-5 {
  margin-left: 0;
}

.u-section-3 .u-label-5 {
  font-weight: 600;
  font-size: 1.125rem;
}

.u-section-3 .u-input-5 {
  --radius: 5px;
}

.u-section-3 .u-form-group-6 {
  margin-left: 0;
}

.u-section-3 .u-label-6 {
  font-weight: 600;
  font-size: 1.125rem;
}

.u-section-3 .u-input-6 {
  --radius: 5px;
}

.u-section-3 .u-form-group-7 {
  margin-left: 0;
}

.u-section-3 .u-label-7 {
  font-weight: 600;
  font-size: 1.125rem;
}

.u-section-3 .u-label-8 {
  font-weight: 600;
  font-size: 1.125rem;
}

.u-section-3 .u-input-7 {
  --radius: 5px;
}

.u-section-3 .u-btn-1 {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  --radius: 20px;
  background-image: none;
  --color-var: #0b1f33d9;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 12px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-line-1 {
    width: 900px;
  }

  .u-section-3 .u-form-1 {
    margin-top: -739px;
    margin-bottom: 83px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 921px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 37px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-line-1 {
    width: 680px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 688px;
    margin-bottom: 0;
  }

  .u-section-3 .u-form-1 {
    height: 693px;
    margin-top: -729px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-3 .u-list-1 {
    margin-top: 66px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-line-1 {
    width: 520px;
  }

  .u-section-3 .u-form-1 {
    height: 722px;
    margin-top: -757px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1168px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 30px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1108px;
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 17px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    width: 320px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 905px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-form-1 {
    height: 901px;
    margin-top: -978px;
    margin-bottom: 107px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-block-9fa3-5:not([data-block-selected]):not([data-cell-selected]),
.u-block-9fa3-5:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-9fa3-5:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-9fa3-10:not([data-block-selected]):not([data-cell-selected]),
.u-block-9fa3-10:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-9fa3-10:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-9fa3-15:not([data-block-selected]):not([data-cell-selected]),
.u-block-9fa3-15:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-9fa3-15:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-9fa3-20:not([data-block-selected]):not([data-cell-selected]),
.u-block-9fa3-20:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-9fa3-20:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-1,
.u-section-3 .u-list-item-1:before,
.u-section-3 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-9fa3-56:not([data-block-selected]):not([data-cell-selected]),
.u-block-9fa3-56:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-9fa3-56:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-9fa3-60:not([data-block-selected]):not([data-cell-selected]),
.u-block-9fa3-60:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-9fa3-60:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-9fa3-64:not([data-block-selected]):not([data-cell-selected]),
.u-block-9fa3-64:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-9fa3-64:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}